{%extends "layout.html"%}{%block body%}
<p>Dashboard</p>
<p>{{session.name}}</p>
<a href="/logout">Log Out</a>

{%if session["partner"]%}
<div>
<a href="/partner/create/product">Add New Product</a>
</div>
{%endif%}




<table>
{%for product in all_products%}
<tr>
    <td>{{product.name}} for sale by {{product.sold_by}}</td>
    <td> ${{product.price}} per {{product.volume}}ml</td>
    {%if session["customer"]%}
    <td><div id="order{{product.id}}"></div><button onclick=orderButton({{product.id}})>Place Order/Request Sample</button></td>
    {%endif%}
</tr>
{%endfor%}
</table>

{% endblock %}