<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
</head>
<body>
    <h1>Landing Page</h1>
    <form action="/loginpage/partner" method="post">
        <Input type="submit" value="I am a Partner"></Input>
        <input type="hidden" name="partner" value="partner">
    </form>
    <form action="/loginpage/customer" method="post">
        <Input type="submit" value="I am a Customer"></Input>
        <input type="hidden" name="customer" value="customer">
    </form>
</body>
</html>