<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>

<body>
    {% with messages = get_flashed_messages(category_filter=['register']) %}
                    <!-- declare a variable called messages -->
                    {% if messages %}
                    <!-- check if there are any messages -->
                    {% for message in messages %}
                    <!-- loop through the messages -->
                    <p>{{message}}</p>
                    <!-- display each message in a paragraph tag -->
    {% endfor %} {% endif %} {% endwith %}
    <p>here</p>
    {%if session['login']=='partner'%}
        <h2>New Partner</h2>
        <form action='/partner/register' method="post">
            <label for="name">Name</label>
            <input type="text" name="name" placeholder="Firstname Lastname" required>
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email@site.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password1!" required>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" placeholder="same" required>
            <label for="address">Address</label>
            <input type="text" name="address" placeholder="123 Streetname St, Cityname, State" required>
            <label for="phone_number">Phone Number</label>
            <input type="text" name="phone_number" placeholder="123-456-7890" required>
            <input type="submit" value="Register New Partner Account">
        </form>
        <h2>Returning Partner</h2>
        {% with messages = get_flashed_messages(category_filter=['login']) %}
                    <!-- declare a variable called messages -->
                    {% if messages %}
                    <!-- check if there are any messages -->
                    {% for message in messages %}
                    <!-- loop through the messages -->
                    <p>{{message}}</p>
                    <!-- display each message in a paragraph tag -->
    {% endfor %} {% endif %} {% endwith %}
        <form action='/partner/login' method="post">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="email@site.com" required>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password1!" required>
            <input type="submit" value="Login Partner Account">
        </form>

    {%endif%}
    {%if session['login']=='customer'%}
    <p>Hi Customer</p>
    {%endif%}
</body>
</html>